<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Learn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Quiz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Shop</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Background image -->
<div class="d-flex justify-content-center" style="background-image: url(../static/images/background.jpeg);
    background-size: cover;">

    <div class="p-5" >
        <h1 class="display-2 color-danger d-flex justify-content-center" style="color: rebeccapurple">EXPLORE THE GALAXY</h1>
        <p class="p-3  text-white d-flex justify-content-center">Lorem ipsum dolor sit amet. Eum illum inventore ut molestiae explicabo est molestiae velit aut placeat inventore. Non illum impedit est voluptatem nulla sed voluptatibus delectus ex consequatur tempore rem voluptate voluptatem? Et deleniti unde sit magnam corporis ex quasi ducimus ea beatae ipsa est nihil laboriosam! Ea dolor unde qui sint enim qui quas molestiae est autem rerum quo architecto cumque. </p>
        <p class="p-3 text-white d-flex justify-content-center">Hic fugiat laborum vel necessitatibus earum qui omnis libero quo saepe consequuntur ut consequatur nihil in asperiores cumque. Quo mollitia distinctio aut sint quos sit repellendus veritatis sed repudiandae eligendi et sequi tempora. Eos culpa veritatis  ullam nesciunt cum impedit magni qui cupiditate fugit et earum dolor qui libero accusantium. 33 labore quia cum illum earum qui esse explicabo. </p>
        <p class="p-3 text-white d-flex justify-content-center">Ut quibusdam nesciunt aut nulla consequatur rem error quaerat in totam optio aut consequatur ducimus id numquam animi sit facilis nisi! Eum dolor accusamus aut ratione enim qui eligendi rerum ut reprehenderit tempora 33 quas quidem quo quis voluptas et ipsam officia. Aut suscipit praesentium est velit enim ea praesentium mollitia id internos libero sit architecto unde et necessitatibus ratione. </p>
    </div>

</div>
<!-- Background image -->




</body>
</html>