<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Learn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Quiz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Shop</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Background image -->
<div class="d-flex justify-content-center" style="background-image: url(../static/images/background.jpeg);
    background-size: cover;">

    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h2 class="text-warning pt-5">What do you want to learn today?</h2>
            </div>
            <div class="col-sm">
                <img class="img-thumbnail" src="../static/images/solarsystem.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <ul class="list-group pb-4 pt-4 pr-5">
                    <li class="list-group-item active">Solar System</li>
                    <li class="list-group-item">Exoplanets and brown dwarfs</li>
                    <li class="list-group-item">Stars</li>
                    <li class="list-group-item">Star constellations</li>
                    <li class="list-group-item">Star clusters</li>
                    <li class="list-group-item">Nebulae</li>
                    <li class="list-group-item">Galaxies</li>
                    <li class="list-group-item">Galaxy groups and clusters</li>
                    <li class="list-group-item">Black holes</li>
                </ul>
            </div>
            <div class="col-sm">
                <p class="text-white p-4">The Solar System[c] is the gravitationally bound system of the Sun and the objects
                    that orbit it. Of the bodies that orbit the Sun directly,
                    the largest are the four gas and ice giants and the four terrestrial planets, followed by an unknown
                    number of dwarf planets and innumerable small Solar System bodies.
                    Of the bodies that orbit the Sun indirectly—the natural satellites—two are larger than Mercury,
                    the smallest terrestrial planet, and one is nearly as large.</p>
            </div>
        </div>
    </div>

</div>
<!-- Background image -->




</body>
</html>